.sobre {
    text-align: center;
}

/*responsive*/

@media screen and (min-widt: 0) {
    .sobre {
        padding: 2.5rem 1rem;
    }
}

@media screen and (min-widt: 768px) {
    .sobre {
        padding: 2.5rem;
    }
}