.receta__boton {
    background: #DA2B1F;
    border-radius: 5px;
    padding: 1rem;
    color: #fdfdfd;
    border: none;
    transition: all .1s ease-in-out;
}

.receta__boton:hover { 
    cursor: pointer;
    background: #9f1010;
}